* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #141432;
}
input {
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px;
  background: #1b1b44;
  color: white;
  border: 0;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
}
